body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0a0a0a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: rgba(0,0,0,0.8);
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  height: 90vh;
  background: url('https://images.unsplash.com/photo-1677442136019-21780ecad995') center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero.small {
  height: 40vh;
}

h1 {
  font-size: 50px;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #00c3ff;
  color: black;
  text-decoration: none;
}
